*{
    margin: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Verdana;
  background-color: #fcfcfe;
  background: linear-gradient(to right,#f8f8f8, #b1abab, #676565);
    background-size: 400%;
    animation: fondo-anim 5s infinite alternate;
}
@keyframes fondo-anim {
    0% {background-position: left;}
    100% {background-position: right;}
}



h1{
    text-align: center;
    color: rgb(18, 19, 17);
    background:676565;
    margin-top: 20px;
    
}

header{
    background-color: #5b6074;
    background: linear-gradient(to right,#CD323A ,#020202);
    height: 80px;
    width: 100%;
    background-color: #5b6074;
    background: linear-gradient(to right,#d06c71 ,#020202);
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav{
    display: flex;   /*Distribuir bien los elementos a lo largo del nav*/
    justify-content: space-between;
}

.navLink{
    color: white;
    text-decoration: none;

    max-width: 992px;
    margin: 0 auto;
}

.imgLogo{
    height: 70px;
    width: 70px;
    margin-left: 10%;
    margin-top: 5%;
    line-height: 80px;
}

.navMenu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.navMenuItem{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.navMenuLink{
    padding: 8px 12px;
    border-radius: 3px;
}

.navMenuLink:hover{
    background-color: #6b3f3f;
    transition: 0.5s;
}

.toggle{
    color: #5a5959;
    background: none;
    border: none;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;
}

.buscar{
    position: relative;
    top: 15px;
    margin-left: 20 px;
    padding: 5px;
}

.buscar:hover input{
    width: 240px;
}

.buscar input:focus{
    width: 240px;
}
.buscar input{
    width: 0px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: black;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
}

.btn{
    width: 55px;
    height: 50px;
    background: #130b0b;
    line-height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    color: rgb(65, 41, 41);
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
}
.barra{
    background: rgb(90, 87, 87);
    position: fixed;
    top: 0;
    left: 0;
    height: 2px;
    width: 100%;
}

@keyframes scroll1 {
    100%{
        width: 100%;
    }
}

.progreso{
    height: 100%;
    width: 0px;
    background: rgb(225, 213, 213);
    animation: scroll1 auto linear forwards;
    animation-timeline: scroll();
}


@media(max-width: 760px){
    body{
        padding-top: 0px;
    }
    
    header{
        height: 60px;
    }
    
    .imgLogo{
        height: 50px;
        width: 50px;
    }
    
    .navMenu{
        z-index: 1;
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color: #5b6074;
        background: linear-gradient(to right, #CD323A, #272829);
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 50px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }
    
    .navMenuItem{
        line-height: 70px;
    }
    
    .navMenuLink:hover{
        background: none;
        color:hsl(0, 82%, 26%);
    }

    .toggle{
        display: block;
    }

    .navMenu_visible{
        left:0;
    }
    .buscar{
        top: 6px;
        padding: 5px;
    }

    .navMenu2{
        z-index: 1;
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color: #5b6074;
        background: linear-gradient(to right, #CD323A, #272829);
        position: fixed;
        left: 100;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 50px);
        overflow-y: auto;
        left: 100%;
        transition: right 0.3s;
        
    }

   
    
    
}

.btn{
  width: 55px;
  height: 50px;
  background: #130b0b;
  line-height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  color: rgb(65, 41, 41);
  font-size: 20px;
  border-radius: 50px;
  cursor: pointer;
}


.container{
    max-width: 1200px;
    text-align: center;
    margin: auto;
}
 .carrito{
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    position: relative;
    z-index: 9999;
    
    
} 
.carrito div{
    position: relative;
}
.carrito p{
    position: absolute;
    top: -24px;
    right: -8px;
    background-color: #fff;
    padding: 1px 6px;
    border-radius: 50%;
    color: red;
    font-weight: 700;
    font-family: system-ui;
    line-height: 18px;
}
.logo{
    width: 164px;
    height: 84px;
    cursor: pointer;
}

.cart{
    width: 39px;
    height: 38px;
}
.cart-products{
    position: absolute!important;
    top: 82px;
    right: -18px;
    background-color: #fff;
    padding: 0 18px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    display: none;

    min-width: 290px;
}

.cart:hover{
    margin-bottom: 16px;
    transition-duration: .5s;
}
/*end header*/

/* Imagen Principal */
.imagenPrincipal{
    display: flex;
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
}

.contenedorImagenPrincipal{
    display: flex;
    width: 100%;
    height: 700px;
    position: relative;
}

/* navegador 2 */
.nav2{
    display: flex;
    list-style: none;
    
    
}

/* Productos */
.products{
    padding-top: 170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.carts{
    max-width: 250px;
    box-shadow: 0 3px 10px rgba(213, 24, 24, 0.2);
    padding-bottom: 34px;
    margin-bottom: 40px;
}
.carts img{
    width: 100%;
}
.carts p{
    font-family: system-ui;
    font-weight: 500;
    padding: 0 20px;
    margin-bottom: 24px;
}
.carts div p{
    position: absolute;
    top: 0;
    right: 0px;
    background-color: rgb(0, 235, 129);
    color: #fff;
    padding: 2px 7px 4px 21px;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}
.carts div{
    position: relative;
}
.carts a{
    font-family: system-ui;
    text-decoration: none;
    background: red;
    padding: 9px 23px;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
}

.carts a:hover{
    background: #fff;
    color: red;
    border: solid 2px red;
    transition-duration: .3s;
}

/*float cart*/
.cart-products .item img{
    width: 115px;
}

.cart-products .item{
    display: flex;
    align-items: center;
    border-bottom: solid 2px red;
}
.cart-products .item .item-content{
    margin: 0 19px;
    width: 201px;
}
.cart-products .item .item-content h5{
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    font-family: system-ui;
}
.cart-products .item .item-content h6{
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    font-family: system-ui;
}
.cart-products .item span{
    background-color: red;
    padding: 0px 5px;
    border-radius: 50%;
    color: #fff;
    font-family: system-ui;
    cursor: pointer;
}
.cart-products h3{
    margin-bottom: 0;
}
.cart-products .item .item-content h5.cart-price{
    font-weight: 700;
}

/*stye to btn close*/
p.close-btn{
    top: -4px;
    right: 6px;
    cursor: pointer;
    color: #000;
}
p.author {
    display: flex;
    justify-content: center;
    FONT-VARIANT: JIS04;
    margin-top: 3%;
    gap: 7px;
}
p.author a {
    text-decoration: none;
    font-weight: 700;
    color: #000;
}

/* estilos del footer */
  
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    z-index: 101;
  }
  footer ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    
    /* Estilo para los elementos de la lista */
    footer li {
      margin-bottom: 5px; /* Espaciado entre elementos de la lista */
    }
  
  /* Estilos para los contenedores de información */
  footer .info,
  footer .horarios,
  footer .contacto,
  footer .redes-sociales {
    margin-bottom: 10px;
  }
  
  /* Estilos para la disposición horizontal */
  footer .info,
  footer .horarios,
  footer .contacto {
    display: inline-block;
    width: 30%; /* Ajusta según sea necesario */
    text-align: left;
    position: relative;
  }
  
  footer .info::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 2px; /* Grosor de la barra vertical */
    background-color: #b8adad; /* Color de la barra vertical */
    top: 0;
    right: 0;
  }
  
  footer .contacto::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 2px; /* Grosor de la barra vertical */
    background-color: #b8adad; /* Color de la barra vertical */
    top: 0;
    left: -5px;
  }
  
  
  
  footer .horarios {
    display: inline-block;
    width: 30%; /* Ajusta según sea necesario */
    text-align: center;
    position: relative;
  }
  
  footer .contacto {
    display: inline-block;
    width: 30%; /* Ajusta según sea necesario */
    text-align: right;
    position: relative;
  }
  
  /* Estilos para los iconos de redes sociales */
  footer .redes-sociales {
    display: flex;
    justify-content: center;
  }
  
  footer .iconos-sociales {
    display: flex;
    align-items: center;
  }
  
  footer .iconos-sociales a {
    margin: 0 10px;
  }
  
  /* Ajusta el tamaño de los iconos*/
  footer .iconos-sociales a i {
    font-size: 24px; 
  }
  