*{
    margin: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Verdana;
  background-color: #fcfcfe;
}



h1{
    text-align: center;
    color: rgb(18, 19, 17);
    background: linear-gradient(to right,#b8b4b4 ,#d8b8b8);
}

header{
    background-color: #5b6074;
    background: linear-gradient(to right,#CD323A ,#020202);
    height: 80px;
    width: 100%;
    background-color: #5b6074;
    background: linear-gradient(to right,#d06c71 ,#020202);
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav{
    display: flex;   /*Distribuir bien los elementos a lo largo del nav*/
    justify-content: space-between;
}

.navLink{
    color: white;
    text-decoration: none;

    max-width: 992px;
    margin: 0 auto;
}

.imgLogo{
    height: 70px;
    width: 70px;
    margin-left: 10%;
    margin-top: 5%;
    line-height: 80px;
}

.navMenu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.navMenuItem{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.navMenuLink{
    padding: 8px 12px;
    border-radius: 3px;
}

.navMenuLink:hover{
    background-color: #6b3f3f;
    transition: 0.5s;
}

.toggle{
    color: #5a5959;
    background: none;
    border: none;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;
}

.buscar{
    position: relative;
    top: 15px;
    margin-left: 20 px;
    padding: 5px;
}

.buscar:hover input{
    width: 240px;
}

.buscar input:focus{
    width: 240px;
}
.buscar input{
    width: 0px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: black;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
}

.btn{
    width: 55px;
    height: 50px;
    background: #130b0b;
    line-height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    color: rgb(65, 41, 41);
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
}
.barra{
    background: rgb(90, 87, 87);
    position: fixed;
    top: 0;
    left: 0;
    height: 2px;
    width: 100%;
}

@keyframes scroll1 {
    100%{
        width: 100%;
    }
}

.progreso{
    height: 100%;
    width: 0px;
    background: rgb(225, 213, 213);
    animation: scroll1 auto linear forwards;
    animation-timeline: scroll();
}


@media(max-width: 760px){
    body{
        padding-top: 0px;
    }
    
    header{
        height: 60px;
    }
    
    .imgLogo{
        height: 50px;
        width: 50px;
    }
    
    .navMenu{
        z-index: 1;
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color: #5b6074;
        background: linear-gradient(to right, #CD323A, #272829);
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 50px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }
    
    .navMenuItem{
        line-height: 70px;
    }
    
    .navMenuLink:hover{
        background: none;
        color:#cfa8a8;
    }

    .toggle{
        display: block;
    }

    .navMenu_visible{
        left:0;
    }
    .buscar{
        top: 6px;
        padding: 5px;
    }
    
}

.btn{
  width: 55px;
  height: 50px;
  background: #130b0b;
  line-height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  color: rgb(65, 41, 41);
  font-size: 20px;
  border-radius: 50px;
  cursor: pointer;
}



/* Hasta aqui es los estilos de la cabecera */



  /* pagina principal */

  
  .container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-between;
    margin-left: 220px;
    position: relative;
}

.product {
    position: relative;
    width: calc(18% - 20px);
    margin: 10px;
    overflow: hidden;
    height: 270px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    text-align: center; 
}

.product img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease;
    transform: translateY(100%);
}

.product:hover img {
    transform: translateY(-20px);
}

.product h3 {
    margin-top: 20px; 
    transition: transform 0.3s ease; 
}

.product:hover {
    transform: translateY(-10px); 
}

.product:hover h3 {
    transform: translateY(-10px); 
}

.product:hover .overlay {
    transform: translateY(0);
}

.overlay button {
    padding: 5px 10px;
    margin: 5px;
    background-color: #d73b23;
    border: none;
    color: white;
    cursor: pointer;
}

.overlay button:hover {
    background-color: #8a0f0f;
}

.description-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    text-align: center;
    color: white;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.description-content.active {
    transform: translateY(0);
}

/* Consulta de medios para dispositivos pequeños */
@media (max-width: 768px) {
  .product {
      width: calc(33.333% - 20px); 
  }
}

/* Consulta de medios para dispositivos extra pequeños */
@media (max-width: 576px) {
  .product {
      width: calc(50% - 20px); 
  }
}

/* barra lateral */
.sidebar {
    background-color: #f4f4f4;
    padding: 20px;
    width: 200px;
    position: absolute;
    top: calc(100% + 10px); /* Comienza un poco más arriba de la imagen */
    left: 0;
    z-index: 100; /* Asegura que esté encima del contenido principal pero debajo del footer */
    transition: height 0.3s; /* Transición suave para el cambio de altura */
    height: 500px; /* Ajusta la altura inicial */
}

/* Estilos para la barra lateral cuando el mouse está sobre ella */
.sidebar:hover {
    height: calc(100% + 50px); /* Alarga un poco la barra lateral al pasar el mouse sobre ella */
}

/* Estilos para la lista dentro de la barra lateral */
.sidebar ul {
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    list-style: none;
    margin-bottom: 10px; /* Espacio entre elementos de la lista */
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.sidebar ul li a:hover {
    background-color: #ccc; /* Cambia el color al pasar el mouse sobre cada opción */
}

/* Estilos responsive */
@media (max-width: 768px) {
    .sidebar {
        width: 100%; /* La barra lateral ocupa el ancho completo en dispositivos pequeños */
        top: auto; /* Elimina la posición absoluta en dispositivos pequeños */
        bottom: 0; /* La barra lateral comienza desde la parte inferior en dispositivos pequeños */
        height: auto; /* La altura se ajusta automáticamente en dispositivos pequeños */
        transition: none; /* Elimina la transición en dispositivos pequeños */
    }

    /* Estilos para la barra lateral cuando está fija en la parte inferior en dispositivos pequeños */
    .sidebar.fixed-bottom {
        position: fixed;
        left: 0;
    }

    /* Estilos para la barra lateral cuando el mouse está sobre ella en dispositivos pequeños */
    .sidebar:hover {
        height: auto; /* La altura se ajusta automáticamente al pasar el mouse en dispositivos pequeños */
    }
}


/* estilos del footer */
  
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  z-index: 101;
}
footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Estilo para los elementos de la lista */
  footer li {
    margin-bottom: 5px; /* Espaciado entre elementos de la lista */
  }

/* Estilos para los contenedores de información */
footer .info,
footer .horarios,
footer .contacto,
footer .redes-sociales {
  margin-bottom: 10px;
}

/* Estilos para la disposición horizontal */
footer .info,
footer .horarios,
footer .contacto {
  display: inline-block;
  width: 30%; /* Ajusta según sea necesario */
  text-align: left;
  position: relative;
}

footer .info::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 2px; /* Grosor de la barra vertical */
  background-color: #b8adad; /* Color de la barra vertical */
  top: 0;
  right: 0;
}

footer .contacto::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 2px; /* Grosor de la barra vertical */
  background-color: #b8adad; /* Color de la barra vertical */
  top: 0;
  left: -5px;
}



footer .horarios {
  display: inline-block;
  width: 30%; /* Ajusta según sea necesario */
  text-align: center;
  position: relative;
}

footer .contacto {
  display: inline-block;
  width: 30%; /* Ajusta según sea necesario */
  text-align: right;
  position: relative;
}

/* Estilos para los iconos de redes sociales */
footer .redes-sociales {
  display: flex;
  justify-content: center;
}

footer .iconos-sociales {
  display: flex;
  align-items: center;
}

footer .iconos-sociales a {
  margin: 0 10px;
}

/* Ajusta el tamaño de los iconos*/
footer .iconos-sociales a i {
  font-size: 24px; 
}

