*{
    margin: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Verdana;
  background-color: #fcfcfe;
  background: linear-gradient(to right,#f8f8f8, #b1abab, #e9e9e9);
    background-size: 400%;
    animation: fondo-anim 5s infinite alternate;
}
@keyframes fondo-anim {
    0% {background-position: left;}
    100% {background-position: right;}
}



h1{
    text-align: center;
    color: rgb(18, 19, 17);
    background:676565;
    margin-top: 20px;
    
}

header{
    background-color: #5b6074;
    background: linear-gradient(to right,#CD323A ,#020202);
    height: 80px;
    width: 100%;
    background-color: #5b6074;
    background: linear-gradient(to right,#d06c71 ,#020202);
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav{
    display: flex;   /*Distribuir bien los elementos a lo largo del nav*/
    justify-content: space-between;
}

.navLink{
    color: white;
    text-decoration: none;

    max-width: 992px;
    margin: 0 auto;
}

.imgLogo{
    height: 70px;
    width: 70px;
    margin-left: 10%;
    margin-top: 5%;
    line-height: 80px;
}

.navMenu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.navMenuItem{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.navMenuLink{
    padding: 8px 12px;
    border-radius: 3px;
}

.navMenuLink:hover{
    background-color: #6b3f3f;
    transition: 0.5s;
}

.toggle{
    color: #5a5959;
    background: none;
    border: none;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;
}

.buscar{
    position: relative;
    top: 15px;
    margin-left: 20 px;
    padding: 5px;
}

.buscar:hover input{
    width: 240px;
}

.buscar input:focus{
    width: 240px;
}
.buscar input{
    width: 0px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: black;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
}

.btn{
    width: 55px;
    height: 50px;
    background: #130b0b;
    line-height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    color: rgb(65, 41, 41);
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
}
.barra{
    background: rgb(90, 87, 87);
    position: fixed;
    top: 0;
    left: 0;
    height: 2px;
    width: 100%;
}

@keyframes scroll1 {
    100%{
        width: 100%;
    }
}

.progreso{
    height: 100%;
    width: 0px;
    background: rgb(225, 213, 213);
    animation: scroll1 auto linear forwards;
    animation-timeline: scroll();
}


@media(max-width: 760px){
    body{
        padding-top: 0px;
    }
    
    header{
        height: 60px;
    }
    
    .imgLogo{
        height: 50px;
        width: 50px;
    }
    
    .navMenu{
        z-index: 1;
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color: #5b6074;
        background: linear-gradient(to right, #CD323A, #272829);
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 50px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }
    
    .navMenuItem{
        line-height: 70px;
    }
    
    .navMenuLink:hover{
        background: none;
        color:hsl(0, 82%, 26%);
    }

    .toggle{
        display: block;
    }

    .navMenu_visible{
        left:0;
    }
    .buscar{
        top: 6px;
        padding: 5px;
    }

    .navMenu2{
        z-index: 1;
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color: #5b6074;
        background: linear-gradient(to right, #CD323A, #272829);
        position: fixed;
        left: 100;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 50px);
        overflow-y: auto;
        left: 100%;
        transition: right 0.3s;
        
    }

   
    
    
}

.btn{
  width: 55px;
  height: 50px;
  background: #130b0b;
  line-height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  color: rgb(65, 41, 41);
  font-size: 20px;
  border-radius: 50px;
  cursor: pointer;
}




/* Hasta aqui es los estilos de la cabecera */

/* estilos carrito */
.header-section{
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    position: relative;
}
.header-section div{
    position: relative;
}
.header-section p{
    position: absolute;
    top: -24px;
    right: -8px;
    background-color: #fff;
    padding: 1px 6px;
    border-radius: 50%;
    color: rgb(47, 8, 8);
    font-weight: 700;
    font-family: system-ui;
    line-height: 18px;
}
.carrito{
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    position: relative;
    z-index: 9999;
    
    
} 
.carrito div{
    position: relative;
}
.carrito p{
    position: absolute;
    top: -24px;
    right: -8px;
    background-color: #f7f7f7;
    padding: 1px 6px;
    border-radius: 50%;
    color: red;
    font-weight: 700;
    font-family: system-ui;
    line-height: 18px;
}
.logo{
    width: 164px;
    height: 84px;
    cursor: pointer;
}

.cart{
    width: 39px;
    height: 38px;
}


.cart-products img {
    max-width: 100px; /* Establecer el ancho máximo de las imágenes */
    height: auto; /* Permitir que la altura se ajuste automáticamente */
    margin-bottom: 5px; /* Agregar un pequeño espacio entre las imágenes */
  }
  
.cart-products {
    font-size: 12px; /* Reducir el tamaño de la fuente */
    padding: 5px; /* Reducir el espacio interno */
    max-height: calc(100vh - 200px); /* Mantener la altura máxima relativa al tamaño de la ventana */
    overflow-y: auto; /* Barra de desplazamiento vertical si el contenido excede la altura */
}
  
.cart-products h3 {
    margin-top: 10px; /* Reducir el margen superior de los títulos */
    font-size: 14px; /* Reducir el tamaño de fuente de los títulos */
}
  
.cart-products p {
    margin-bottom: 5px; /* Reducir el espacio entre párrafos */
}
  
.cart-products .close-btn {
    font-size: 10px; /* Reducir el tamaño de fuente del botón de cierre */
    padding: 2px 6px; /* Reducir el espacio dentro del botón de cierre */
}
  
.cart-products .card-items {
    margin-top: 10px; /* Reducir el espacio entre los elementos del carrito */
}
  
  .cart-products .price-total {
    font-size: 16px; /* Ajustar el tamaño de fuente del total */
}
    

.cart:hover{
    margin-bottom: 16px;
    transition-duration: .5s;
}

  /* pagina principal */
.nav2{
    display: flex;
    list-style: none;
    justify-content: center; 
    
}

.imagenPrincipal{
    display: flex;
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
}
.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10px;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.contenedorImagenPrincipal{
    display: flex;
    width: 100%;
    height: 700px;
    position: relative;
}

.carts {
    margin: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    grid-column: span 1; /* Ocupa una columna completa */
    grid-row: span 1; /* Ocupa una fila completa */
    margin-bottom: 20px; /* Agrega margen entre las tarjetas */
    overflow: hidden; /* Asegura que el contenido no se desborde */
    position: relative;
    text-align: center;
    background: rgb(237, 235, 235);
    
}

.carts img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease;
    transform: translateY(100%);
}

.carts:hover img {
    transform: translateY(-20px);
}

.carts h3 {
    margin-top: 20px; 
    transition: transform 0.3s ease; 
}

.carts:hover {
    transform: translateY(-10px); 
}

.carts:hover h3 {
    transform: translateY(-10px); 
}

.carts:hover .overlay {
    transform: translateY(0);
}

.overlay button {
    padding: 5px 10px;
    margin: 5px;
    background-color: #bb260b;
    border: none;
    color: white;
    cursor: pointer;
}

.overlay button:hover {
    background-color: #ba4d4d;
}

.description-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    text-align: center;
    color: white;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.description-content.active {
    transform: translateY(0);
}

/* Consulta de medios para dispositivos pequeños */
@media (max-width: 768px) {
  .products {
      grid-template-columns: repeat(2, 1fr); 
  }
  .contenedorImagenPrincipal{
    height: 500px;
  }

}

/* estilos del footer */
  
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  z-index: 101;
}
footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Estilo para los elementos de la lista */
  footer li {
    margin-bottom: 5px; /* Espaciado entre elementos de la lista */
  }

/* Estilos para los contenedores de información */
footer .info,
footer .horarios,
footer .contacto,
footer .redes-sociales {
  margin-bottom: 10px;
}

/* Estilos para la disposición horizontal */
footer .info,
footer .horarios,
footer .contacto {
  display: inline-block;
  width: 30%; /* Ajusta según sea necesario */
  text-align: left;
  position: relative;
}

footer .info::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 2px; /* Grosor de la barra vertical */
  background-color: #b8adad; /* Color de la barra vertical */
  top: 0;
  right: 0;
}

footer .contacto::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 2px; /* Grosor de la barra vertical */
  background-color: #b8adad; /* Color de la barra vertical */
  top: 0;
  left: -5px;
}



footer .horarios {
  display: inline-block;
  width: 30%; /* Ajusta según sea necesario */
  text-align: center;
  position: relative;
}

footer .contacto {
  display: inline-block;
  width: 30%; /* Ajusta según sea necesario */
  text-align: right;
  position: relative;
}

/* Estilos para los iconos de redes sociales */
footer .redes-sociales {
  display: flex;
  justify-content: center;
}

footer .iconos-sociales {
  display: flex;
  align-items: center;
}

footer .iconos-sociales a {
  margin: 0 10px;
}

/* Ajusta el tamaño de los iconos*/
footer .iconos-sociales a i {
  font-size: 24px; 
}

