*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana;
    padding: 0px 0px 0px;
    background: #a16060;
}
h1{
    text-align: center;
    color: rgb(244, 245, 243);
}

header{
    background-color: #5b6074;
    background: linear-gradient(to right, #020202,#CD323A );
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.navLink{
    color: white;
    text-decoration: none;

    max-width: 992px;
    margin: 0 auto;
}

.imgLogo{
    height: 70px;
    width: 150px;
    margin-left: 10%;
    margin-top: 5%;
    line-height: 80px;
}

.navMenu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.navMenuItem{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.navMenuLink{
    padding: 8px 12px;
    border-radius: 3px;
}

.navMenuLink:hover{
    background-color: #6b3f3f;
    transition: 0.5s;
}

.toggle{
    color: #5a5959;
    background: none;
    border: none;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;
}

.buscar{
    position: relative;
    top: 15px;
    margin-left: 20 px;
    padding: 5px;
}

.buscar:hover input{
    width: 240px;
}

.buscar input:focus{
    width: 240px;
}
.buscar input{
    width: 0px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: black;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
}

.btn{
    width: 55px;
    height: 50px;
    background: #130b0b;
    line-height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    color: rgb(65, 41, 41);
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
}
.barra{
    background: rgb(90, 87, 87);
    position: fixed;
    top: 0;
    left: 0;
    height: 2px;
    width: 100%;
}

@keyframes scroll1 {
    100%{
        width: 100%;
    }
}

.progreso{
    height: 100%;
    width: 0px;
    background: rgb(225, 213, 213);
    animation: scroll1 auto linear forwards;
    animation-timeline: scroll();
}


@media(max-width: 780px){
    body{
        padding-top: 0px;
    }
    
    header{
        height: 60px;
    }
    
    .imgLogo{
        height: 50px;
        width: 100px;
    }
    
    .navMenu{
        z-index: 1;
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color: #5b6074;
        background: linear-gradient(to right, #CD323A, #272829);
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 50px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }
    
    .navMenuItem{
        line-height: 70px;
    }
    
    .navMenuLink:hover{
        background: none;
        color:#cfa8a8;
    }

    .toggle{
        display: block;
    }

    .navMenu_visible{
        left:0;
    }
    .buscar{
        top: 6px;
        padding: 5px;
    }
    
}



/* Hasta aqui es los estilos de la cabecera */

/* Aquí empieza los estilos del cuerpo de la página */
/*carrusel*/
.nuestrosServicios{
    display: flex;
    width: 100%;
    height: 700px;
    position: relative;
}

.imgNuestosServicios{
    display: flex;
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: width 0.5s ease, opacity 0.5s ease;
}

.imgNuestosServicios:hover{
    width: 500px;
    opacity: 1;
    filter: contrast(120%);
  }

/*hasta aquí carrusel*/
.options-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente las opciones */
}

.option {
    margin-right: 20px;
    font-size: 16px; /* Tamaño de fuente */
}

.options-container button {
    background-color: #f9f9f9;
    color: #333;
    border: 1px solid #ccc;
    padding: 10px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.options-container button.selected {
    background-color: #4CAF50;
    color: white;
}

.personalizar {
    width: 100%;
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
}

#formulario {
    margin-top: auto; /* Empuja el formulario hacia abajo */
    background-color: #f9f9f9; /* Color de fondo */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    max-width: 600px; /* Ancho máximo del formulario */
    margin-left: auto; /* Centra horizontalmente el formulario */
    margin-right: auto;
    margin-bottom: 20px;
}

#formulario h2 {
    margin-top: 0; /* Elimina el margen superior del encabezado */
}

#formulario label {
    display: block; /* Muestra las etiquetas en una línea separada */
    margin-bottom: 5px; /* Espacio inferior entre etiquetas */
}

#formulario input[type="text"],
#formulario input[type="number"],
#formulario select,
#formulario textarea {
    width: 100%; /* Ocupa todo el ancho disponible */
    padding: 8px; /* Espaciado interno */
    margin-bottom: 10px; /* Espacio inferior entre campos */
    border: 1px solid #ccc; /* Borde */
    border-radius: 5px; /* Borde redondeado */
    box-sizing: border-box; /* Incluye el borde en el tamaño total */
}

#formulario button {
    background-color: #722c30; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer;
    font-size: 16px; /* Tamaño de fuente */
}

#formulario button:hover {
    background-color: #bb7b7b; /* Cambia el color de fondo al pasar el mouse */
}

.personalizar p{
    color: black;
    padding: 10px;
    text-align: center;
}

.personalizar button {
    background-color: #722c30; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    border: none;
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer;
    font-size: 16px; /* Tamaño de fuente */
}

.personalizar button:hover {
    background-color: #bb7b7b; /* Cambia el color de fondo al pasar el mouse */
}



.whatsapp-bar {
    background-color: #54c47f; /* Color de fondo de la barra */
    color: #fff; /* Color del texto */
    padding: 10px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
}

.whatsapp-link {
    color: #fff; /* Color del texto del enlace */
    text-decoration: none; /* Sin subrayado */
    font-weight: bold; /* Negrita */
    margin-left: 10px; /* Margen izquierdo */
}

.infoAdicional{
    display: grid;
    background: rgb(255, 255, 255);
    align-items: center;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    object-fit: cover;
    gap: 20px;
}

@media(max-width: 1400px){
    .infoAdicional{
        grid-template-columns: 1fr;
        size: 20%;
    }
}
/* estilos del footer */
  
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Estilo para los elementos de la lista */
footer li {
    margin-bottom: 5px; /* Espaciado entre elementos de la lista */
}

/* Estilos para los contenedores de información */
footer .info,
footer .horarios,
footer .contacto,
footer .redes-sociales {
    margin-bottom: 10px;
}

/* Estilos para la disposición horizontal */
footer .info,
footer .horarios,
footer .contacto {
    display: inline-block;
    width: 30%; /* Ajusta según sea necesario */
    text-align: left;
    position: relative;
}

footer .info::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 2px; /* Grosor de la barra vertical */
    background-color: #b8adad; /* Color de la barra vertical */
    top: 0;
    right: 0;
}

footer .contacto::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 2px; /* Grosor de la barra vertical */
    background-color: #b8adad; /* Color de la barra vertical */
    top: 0;
    left: -5px;
}



footer .horarios {
    display: inline-block;
    width: 30%; /* Ajusta según sea necesario */
    text-align: center;
    position: relative;
}

footer .contacto {
    display: inline-block;
    width: 30%; /* Ajusta según sea necesario */
    text-align: right;
    position: relative;
}

/* Estilos para los iconos de redes sociales */
footer .redes-sociales {
    display: flex;
    justify-content: center;
}

footer .iconos-sociales {
    display: flex;
    align-items: center;
}

footer .iconos-sociales a {
    margin: 0 10px;
}

/* Ajusta el tamaño de los iconos*/
footer .iconos-sociales a i {
    font-size: 24px; 
}